/* fonts  */

.mulish {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
}
*{
  padding: 0%;
  margin: 0%;
  overflow-x: auto;
  font-family: "Mulish", sans-serif;
}
form{
  display: grid;
  border-radius: 16px;
border: 1px solid #FF5400;
width: 40vw;
}
@media only screen and (max-width: 800px) {
  .navigation-menu{
   display: none;
  }
  .header{
    height: auto;
  }
  .header-form{
    display: grid;
    margin: auto;
    height: auto;
    grid-template-columns: auto;
  }
  .inside-form{
    display: grid;
    gap: none;
  }
  .header-text1{
    font-size: 20px;
  }
  .sec1{
    display: grid;
    margin: auto;
  }
  .sec1text{
      width: 100%;
  }
  .sec1img{
 width: 100%;
  }
  .sec2flex1{
    display:grid;
    gap: 2vw;
    margin:auto;
    margin-bottom: 3vh;
  }
  .sec2flex2{
    display:grid;
    gap: 2vw;
    margin:auto;
    margin-bottom: 3vh;
  }
  .sec2flex3{
    display:grid;
    gap: 2vw;
    margin:auto;
  }
  .sec2divs1{
    height: 50vh;
    width: 100%;
  }
  .sec2divs2{
    height: 50vh;
    width: 100%;
  }
  .sec2divs3{
    height: 50vh;
    width: 100%;
  }
  .sec2divs4{
    height: 50vh;
    width: 100%;
  }
  .sec2divs5{
    height: 50vh;
    width: 100%;
  }
  .sec2divs6{
    height: 50vh;
    width: 100%;
  }
  .sec2divs7{
    height: 50vh;
    width: 100%;
  }
  .sec2p1{
    margin-top: 5vh;
    margin-bottom: 2vh;
  }
  .sec3-divs{
    display: grid;
    grid-row-gap:3vh;
    grid-template-columns: auto;
    }
    .sec3div3{
      grid-column: 1 / 1;
      grid-row: 1 / 1; 
      height: 50vh;
    width: 98%;
    }
    .sec3div2{
      grid-column: 1 / 1;
      grid-row: 2 / 2; 
      height: 50vh;
    width: 98%;
    }
    .sec3div1{
      grid-column: 1 / 1;
      grid-row: 3 / 3; 
      justify-self: normal;
      height: 50vh;
    width: 98%;
    }
    .sec4div1{
      height: auto;
    }
    .sec4div2{
      height: auto;
    }
    .sec4div3{
      height: auto;
    }
    .sec4container{
      margin: auto;
      height: auto;
      width: 40vw;
    }
    .sec4container2{
      margin: auto;
      height: auto;
      width: 40vw;
    }
    button{
      height: auto;
      width: auto;
      padding: auto;
    }
    .sec5{
      display: grid;
    }
    .sec5texts{
      width: 100%;
      }
      .sec5img{
        height:70vh ;
        width: 100%;
      }
      .sec6{
        display: grid;
      }
      .sec6 form{
        width: 98%;
      }
      .sec6cap{
        text-align: center;
        padding: auto;
      }
      .sec6 form input{
        width: 70vw;
        margin:2vh auto;
        border-radius: 8px;
      background: rgba(19, 19, 24, 0.05);
      }
      .sec6div2{
        height: 75vh;
        width: 98%;
      }
      .sec6div2text{
        height: 18vh;
        width: 26vw;
      }
      .sec6p1{
        color: #FFF;
        text-align: center;
        font-family: Mulish;
        font-size: 14px;}
        .sec6p2{
          color: #FFF;
          text-align: center;
          font-family: Mulish;
          font-size: 22px;}
          .logo{
            display: none;
          }
          .footertext{
            padding-top: 5vh;
          }
 }